@import "@primer/css/index.scss";

html, body {
    height: 100%;
}

// #root {
//     height: 100%;
// }

.panel-header-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}